x64/Debug/OpenCV c.F70C6DA7.tlog/OpenCV color tracking.lastbuildstate
*.tlog
x64/Debug/OpenCV color tracking.log
*.obj
x64/Release/OpenCV color tracking.log
*.log
x64/Debug/vc140.pdb
*.idb
x64/Release/vc140.pdb